
img{
    max-width: 100%;
}


.fa-star{
    font-size: 1.8rem;
  
}


a{
    text-decoration: none;
    color: white;
}


.remove{
    width: 10%;
    height: 50px;
    position: relative;
    top: -8px;
    left: 0;
    filter: invert(1);
}
.remove-b{
    width: 10%;
    height: 50px;
    position: relative;
    top: -8px;
    left: 0;
}

/**********************************************************/
/**********************************************************/
/* header */

.ms_header{
    background-color: #2c3e50;
   
}



.ms_btn-nav{
    border-color: white;
}

.ms_font-logo{
    font-weight: bold;
    font-size: 1.2rem;
}

.ms_btn-nav>span{
    filter: invert(1);
}

.ms_font-link{
    font-weight: 600;
}


/* /header */
/**********************************************************/
/**********************************************************/


/**********************************************************/
/**********************************************************/
/* main */

/* section HERO */
.ms_hero{
    background-color: #1abc9c;
    text-align: center;
}

.ms_cont-hero> .avatar{
    width: 40%;
    max-width: 190px;
    padding-bottom: 10px;
}

.ms-cont-hero{
    width: 100%;
    max-width: 700px;
}

.ms_font-hero{
    font-weight: bold;
    font-size: 2rem;
}






/* section ABOUT */

.ms_about{
    background-color: #1abc9c;
    text-align: center;
}

.ms_cont-about{
    width: 80%;
}

.ms_btn-about{
    margin-top: 20px;

}



@media screen and (min-width: 767px) {
    .ms_cont-about{
        max-width: 600px; 
   }
}

@media screen and (min-width: 992px) {
    .ms_cont-about{
        max-width: 850px; 
   }
}

/* section CONTACT */


.ms_col-contact{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid gray;
}

.ms_btn{
    background-color:  #1abc9c;;
}


/* MAIN */
/**********************************************************/
/**********************************************************/


/* section LOCATION */

.ms_location{
    background-color: #3a546d;
    text-align: center;
    padding: 20px 0;
}



.ms_footer{
    background-color: #2c3e50;
    text-align: center;
    /* height: 50px;
    */
}


.fa-brands{
    border: 1px solid white;
    width: 48px;
    height: 43px;
    border-radius: 50%;
    padding-top: 10px;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 17px;
    margin-right: 2px;
}

.ms_cont-footer{
    padding: 50px 0;
    font-size: 0.8rem;
}

.color{
    color: #1abc9c;
}